<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is Working !!!!!!</title>
</head>
<body>
<h1>Welcome To The Text Analyzer We Are Here For You</h1>

<form action='/Analyze' method='get'>
    <textarea name='text' style='width: 1503px; height: 196px;'></textarea><br>
    <input type="checkbox" name="Removepunc"> Remove punctuation <br>
    <input type="checkbox" name="showpunc"> Show punctuation <br>
    <input type="checkbox" name="Allcaps"> UPPERCASE <br>
    <input type="checkbox" name="Newlineremover"> New Line Remover <br>
    <input type="checkbox" name="Extraspaceremover"> Removes The Extra Spaces <br>
    <input type="checkbox" name="Countchar"> Counts The Character <br>
    <button type="submit">analyze Text</button>
</form>
</body>
</html>